/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 */

 :root {
  --federal-blue: #03045eff;
  --marian-blue: #023e8aff;
  --honolulu-blue: #0077b6ff;
  --blue-green: #0096c7ff;
  --pacific-cyan: #00b4d8ff;
  --vivid-sky-blue: #48cae4ff;
  --non-photo-blue: #90e0efff;
  --non-photo-blue-2: #ade8f4ff;
  --light-cyan: #caf0f8ff;
 }
 
 img {
  width: 90%;
  display: flex;
  justify-content: center;
 }
 /* #root {
  background-color: rgb(221, 216, 211);
 } */

 * {
  font-family: 'Ysabeau Office', sans-serif;
 }

 header {
  display: flex;
  align-items: center;
  background-color: var(--marian-blue);

 }
h1 {
  color: var(--light-cyan);
}
.nav-item {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--light-cyan);
  margin: 0 1rem;
  text-decoration: none;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.card {
  width: 80%;
}
.card-title {
  text-decoration: none;
  font-size: 40px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}
.card-header {
  height:50px;
  font-size: 20px;
  font-weight: bold;
}
.card-body {
  background-color: var(--non-photo-blue-2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-text {
  font-size: 25px;
  padding-bottom: 5px;
}
footer {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--marian-blue);
  height: 125px;
  color: var(--light-cyan);
}
i {
  margin: 0 1rem;
}
.form-input {
  margin: 0.1rem;
  width: 100%;
  height: 2.5rem;
  font-size: 1.2rem;
}
.col-12 {
  margin: 0.5rem;
  height: 650px;
}
.articleText {
  font-size: 1.5rem;
  margin: 0.5rem;
}
#article-form {
  height: 100%;
}
.article-container {
  display: flex;
  flex-direction: column;
  width:90%;
  position: relative;
  left: 10%;
}
.single-article > h1, h5, h3, p {
  margin-bottom: 10px;
}
.single-article p {
  text-align: justify;
  margin-top: 10px;
  padding-top: 5px;
}
.single-article img {
  width: 90%;
  height: 100%;
  margin: 0.5rem;
  object-fit: cover;
}
